<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <h1>Create a Basketball Team!</h1>
 </head>
 <body>
   <h2>Team Name: <input type="text" name="name"></h2>
 </body>
</html>


